<%= image_tag "rec_store.jpg" %>

<h1>Rails Record Store</h1>
<h2>Available Albums</h2>

<% if @albums.any? %>
  <ul> 
    <% @albums.each do |album|  %>
      <li><%= link_to album.name, album_path(album) %></li>  
    <% end %>
  </ul>
<% else %>
  <p>There are no albums yet.</p>
<% end %>

<p><%= link_to "Create new album", new_album_path %></p>